*{
	padding: 0;
	margin: 0;
	font-family: cursive;
	text-decoration: none;
	list-style: none;
}
.navbar{
	background-image: url('bague.jpg');
	width: 100%;
	position: fixed;
	padding: 0px 0px;
	margin-bottom: 10px;
	background-size: 100%;
}
.navbar .max-width {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.logo a {
	color: #fff;
	font-size: 40px;
	font-weight: 500px;

}

.logo a span {
	color: blue;
}
.menu {
	margin-top: 6px;

}
.menu li {
	display: inline-block;
}
.menu li a{
	color:black;
	font-size: 20px;
	font-weight: bold;
	margin-left: 25px;
	transition: color 2s;
}
.menu li a:hover{
	color:#000;
}
.Diaa{
	margin-top: 10px;
	border-radius: 100%;
	height: 90px;
	width: 90px;
	border: solid white 2px;
	box-shadow: 7px 5px 10px white;

}
.Acc {
	color: brown;
	font-weight: 10px;
	font-size: 20px;
	margin-left: 5px;
	
	margin-top: 6px;
	transition: color 2s;
	text-align: left;

}
.sous li {
	width: 200px;
	text-align: center;
	border: 1px solid #bdc3c7;
	background-color: azure;
	}

.sous { 
	display: none;
	position: absolute;
 }

 

.sous { 
	display: none;
	position: absolute;
 }
.menu li:hover .sous{
	display: block;
} 
.sous li {
	width: 200px;
	text-align: center;
	border: 1px solid #bdc3c7;
	background-color: azure;
	}

.sous li:hover {
 	background-color: crimson;
 }
	.Nos{
	text-align: center;
	color: brown;
	font-size: 30px;
}
.rb{
	background-image: url('IMG_1607.JPG');
}
.repart{
	height: 50px;
	width: 50px;
}
.repart img {
	margin-top: 5px;
	height: 400px;
	width: 300px;

}

#nom {
	font-size: 30px;
}
.wtr img{
	height: 450px;
	width: 600px;
}
.wtr .ppt {
	font-size: 30px;
	padding: 40px;
	color: crimson;


}
.wtr {
	background-color: beige;
}

footer {
  margin-top: 10px;
  background-color: gray;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 30px;
  cursor:pointer;
}
footer .social-media:hover{
 color: crimson;
}
.frm{
	background-color: gray;
	padding: 25px;
}
.crt {
	color: grey;
	font-size: 20px;
}